// Copyright 2020 Dell Inc, or its subsidiaries.
// SPDX-License-Identifier: Apache-2.0

// This is Babel's configuration file. See https://babeljs.io/docs/en/config-files
{
  "presets": [
    // For compiling modern JavaScript down to ES5.
    "@babel/preset-env",
    // For compiling JSX (React JavaScript) down to JavaScript.
    "@babel/preset-react"
  ],
  "plugins": [
    // Lets us use async and await (mainly in test files)
    "@babel/plugin-transform-runtime"
  ]
}